<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar produto</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/produtos/update/<%= produto._id %>" method="POST">
                <label>Nome do produto:</label>
                <input type="text" name="nome" id="nome" class="form-control" value="<%= produto.nome %>" required>
                <label>valor do produto:</label>
                <input type="text" name="valor" id="valor" class="form-control" value="<%= produto.valor %>" required>
                <label>descricao do produto:</label>
                <input type="text" name="descricao" id="descricao" class="form-control" value="<%= produto.descricao %>" required>
                <input type="hidden" name="id" value="<%= produto._id %>">
                <br>
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações?')">
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>